@media (min-width:576px){
	/* header */
	hr.head_hr{display: none;}
	#pc_nav{
		display: none !important;
	}
	#pad_nav{
		display: none !important;
	}
	#right_search{
		display: none !important;
	}
	.container>.header>div:first-child>img {
	    width: 47px;
	    height: 57px;
	}
	/* 左侧图片高度存在问题 */
	.header_left{margin-bottom: 0px;}
	.header{
		border-bottom: 1px solid #dee2e6;
	}
	#phone_img1{width: 35px;height: 29x;}
	#phone_img2{width: 32px;height: 34x;}
	#phone_img3{width: 35px;height: 35x;}
	.header{
		display: flex;
		justify-content: space-between;
	}
	
	/* index */
	/* 1F */
	.module_left{
		height: 49%;
	}
	.module_right{
		width: 100%;
	}
	
	/* 2F */
	.basetitle {
	  text-align: center;
	  width: 100%;
	  font-size: 26px;
	  color: #222;
	  font-weight: bold;
	}
	.basetitle:after, .basetitle:before {
	  content: "";
	  display: inline-block;
	  width: 43px;
	  height: 1px;
	  background: #ccc;
	  vertical-align: middle;
	}
}

@media (min-width:760px) {
	/* header */
	.header{display: block;}
	#phone_nav{
		display: none !important;
	}
	#pad_nav{
		display: block !important;
		margin: 0 auto;
	}
	#right_search{
		display: block !important;
	}
	#pad_nav>ul>li>a{padding-bottom: 25px;}
	/* 左侧logo */
	.container>.header>div:first-child>img {
	    width: 33px;
	    height: 40px;
	    float: left;
	}
	
	/* index */
	/* 1F */
	.module_left{
		height: 100%;
	}
	.module_right{
		width: 49%;
	}
	
	/* 2F */
	.basetitle {
	  text-align: center;
	  width: 100%;
	  font-size: 36px;
	  color: #222;
	  font-weight: bold;
	}
}

@media (min-width:1200px) {
	hr.head_hr{
		display: block;
		margin: 0;
		border: 2px solid #f00;
	}
	.container>.header>div:first-child>img {
	    width: 61px;
	    height: 75px;
	    float: left;
	    margin-top: 4px;
	}
	/* .versionswitching{
		width: 73px;
		height: 18px;
		border-bottom: 1px solid #ccc;
		position: relative;
		float: left;
		padding-bottom: 6px;
	} */
	.search{
		width: 104px;height: 25px;
	}
	#pc_nav{
		display: block !important;
	}
	#pad_nav{
		display: none !important;
	}
	.header{
		border-bottom: none !important;
	}
	/* index */
	/* 1F */
	
	/* 2F */
	
}
